.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}
section {
  padding-top: 5rem;
}
#card1 {
	padding-top: 5rem;
	padding-bottom: 1rem;
}